# Ignore the environment files
.env
test.py

# Ignore the virtual environment:
venv/

# Ignore everything in the "build" directory,
# except the "hello.exe" file:
build/*
playground/*

# Ignore all .pdf files in the doc/ directory
# and any of its subdirectories:
doc/**/*.pdf

# Ignore all of the db files.
*.db
*.sqlite3
*.sqlite