<!doctype html>
<html>
    <head>
        <title>{{ character[0] }}</title>
    </head>
    <body>
        <h1>{{ character[0] }}</h1>
        <p><strong>Race:</strong> {{ character[1] }}</p>
        <p><strong>Class:</strong> {{ character[2] }}</p>
        <p><strong>Equipment:</strong> {{ character[3] }}</p>
        <p><strong>Magic Item:</strong> {{ character[4] }}</p>
        <p><strong>Backstory:</strong> {{ character[5] }}</p>
        <p><strong>Strength:</strong> {{ character[6] }}</p>
        <p><strong>Dexterity:</strong> {{ character[7] }}</p>
        <p><strong>Constitution:</strong> {{ character[8] }}</p>
        <p><strong>Intelligence:</strong> {{ character[9] }}</p>
        <p><strong>Wisdom:</strong> {{ character[10] }}</p>
        <p><strong>Charisma:</strong> {{ character[11] }}</p>
        {% if character[12] %}
            <img src="{{ url_for('uploaded_file', filename=character[12]) }}" width="200"/>
        {% endif %}
        <a href="{{ url_for('index') }}">Back to Characters</a>
    </body>
</html>
