<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Character Generator</title>
</head>
<body>
    <h1>Character Generator</h1>
    <form action="/" method="POST">
        <button type="submit">Generate Character</button>
    </form>

    {% if character %}
    <h2>Character:</h2>
    <p>Name: {{ character.name }}</p>
    <p>Race: {{ character.race }}</p>
    <p>Class: {{ character._class }}</p>
    <p>Equipment: {{ character.equipment }}</p>
    <p>Stats: {{ character.stats }}</p>
    {% endif %}

    {% if backstory %}
    <h2>Backstory:</h2>
    <p>{{ backstory }}</p>
    {% endif %}

    <h1>Generated Characters</h1>
    <ul>
      {% for character in characters %}
      <li><a href="/character/{{ character.id }}">{{ character.name }}: a {{ character._class }}</a></li>
      {% endfor %}
    </ul>
    

</body>
</html>
