<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Characters</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div class="container">
        <ul>
            <form action="/" method="GET">
                <select name="class">
                    <option value="">All Classes</option>
                    {% for _class in classes %}
                    <option value="{{ _class }}">{{ _class }}</option>
                    {% endfor %}
                </select>
                <button type="submit">Filter by Class</button>
            </form>
            
            
            {% if characters %}
            <ul>
                {% for character in characters %}
                <li><a href="/character/{{ character.id }}">{{ character.name }}: a {{ character._class }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
            <p>No characters match the selected class.</p>
            {% endif %}
        </ul>
    </div>
</body>
</html>
