<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ character.name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div class="character-info">
        <h1>{{ character.name }}</h1>
        <p><b>Race:</b> {{ character.race }}</p>
        <p><b>Class:</b> {{ character._class }}</p>
        <p><b>Equipment:</b> {{ character.equipment }}</p>
        <div class="character-stats">
            <h2>Stats</h2>
            {% for stat, value in character.stats.items() %}
                <p>{{ stat }}: {{ value }}</p>
            {% endfor %}
        </div>
        <h2>Backstory:</h2></br>
        <p>{{ character.backstory }}</p>
        <a href="/">Back to character list</a>
    </div>
</body>
</html>

